[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-meijumao
Exec=harbour-meijumao
Name=MeijuMao
# translation example:
# your app name in German locale (de)
Name[cn]=美剧猫

